@model WhazzupInTryavna.Web.ViewModels.Administration.Category.CategoryEditViewModel;

@{
    ViewData["Title"] = "Edit";
}

<partial name="_HeroNavMenu" />

<section>
    <div class="col-6 offset-3">
        <h1 class="text-center">Edit Category</h1>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" ></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <div id="card" class="card col-6 col-3 h-100 m-auto">
                <img id="card-image"
                     src="https://i.vimeocdn.com/portrait/1274237_300x300.jpg"
                     class="card-img-top img-fluid">

            </div>

            <div class="form-group">
                <label asp-for="Image">Image URL</label>
                <input asp-for="Image" type="text" class="form-control" id="image-input">
                <span asp-validation-for="Image" class="text-danger"></span>

            </div>
            <div class="form-group text-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="text-center">
        <a class="btn badge-info" asp-action="All">Back to List</a>
    </div>

</section>