<div class="row container mb-2">
    <div class="text-xl-left col-2">
        <a class="btn btn-info" asp-controller="Administration" asp-action="Index">BACK TO MAIN ADMINISTRATION</a>
    </div>
    <h1 class="col-12 text-center">@ViewBag.Title</h1>
</div>
