@{
    ViewBag.Title = "Administration";
}
<partial name="_HeroNavMenu" />

<h1 class="text-center mt-5 mb-5">@ViewBag.Title</h1>
<div class="row container mt-5">
    <div class="card col-3">
        <img class="card-img-top" src="https://static8.depositphotos.com/1016676/814/i/600/depositphotos_8148558-stock-photo-collage-with-sport.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Add, Delete, Edit</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Categories" asp-action="All">Categories administration</a>
        </div>
    </div>
    <div class="card col-3">
        <img class="card-img-top" src="https://busyteacher.org/uploads/posts/2014-03/1394546738_freetime-activities.png" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Delete, Edit</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Activities" asp-action="All">Activities administration</a>
        </div>
    </div>
    <div class="card col-3">
        <img class="card-img-top" src="https://www.hellowp.com/wp-content/uploads/2018/06/users.png" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Ban</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Users" asp-action="All">Users administration</a>
        </div>
    </div>
    <div class="card col-3">
        <img class="card-img-top" src="https://static.tildacdn.com/tild6437-3735-4635-a539-346232383864/News.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Delete, Edit</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="News" asp-action="All">News administration</a>
        </div>
    </div>
</div>