@{
    ViewData["Title"] = "Administration";
}
<partial name="_HeroNavMenu" />


<div class="row container">
    <div class="card col-6 ml-3" style="width: 18rem;">
        <img class="card-img-top" src="https://static8.depositphotos.com/1016676/814/i/600/depositphotos_8148558-stock-photo-collage-with-sport.jpg" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Add, Delete, Edit</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Categories" asp-action="All">Categories administration</a>
        </div>
    </div>
    <div class="card col-6 ml-3" style="width: 18rem;">
        <img class="card-img-top" src="https://busyteacher.org/uploads/posts/2014-03/1394546738_freetime-activities.png" alt="Card image cap">
        <div class="card-body text-center">
            <p class="card-text">Delete, Edit</p>
            <a class="btn btn-info" asp-area="Administration" asp-controller="Activities" asp-action="All">Activities administration</a>
        </div>
    </div>
</div>