@{
    ViewData["Title"] = "Administration";
}

<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://static8.depositphotos.com/1016676/814/i/600/depositphotos_8148558-stock-photo-collage-with-sport.jpg" alt="Card image cap">
    <div class="card-body text-center">
        <p class="card-text">Add, Delete, Edit</p>
        <a class="btn btn-info" asp-area="Administration" asp-controller="Category" asp-action="All">Category Administration</a>
    </div>
</div>