@{
    ViewData["Title"] = "Activities";
}

<partial name="_HeroNavMenu"/>
<div class="text-center">
    <h1>Activities</h1>
    <a asp-controller="Activities" asp-action="Add" class="btn btn-info">Add Activity</a>
</div>