@model WhazzupInTryavna.Web.ViewModels.Settings.SettingsListViewModel

@{
    ViewBag.Title = "Settings";
}

<h1>@ViewBag.Title</h1>

@foreach (var setting in this.Model.Settings)
{
    <div>@setting.Id: @setting.NameAndValue</div>
}

<a asp-action="InsertSetting" class="btn btn-primary">Insert new</a>
